<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="LoginTest">
        <classes>
            <class name="ru.beru.FirstTest" />
        </classes>
    </test>
    <test name="CityChangeTest">
        <classes>
            <class name="ru.beru.SecondTest" />
        </classes>
    </test>
    <test name="PickAndPurchaseTest">
        <classes>
            <class name="ru.beru.ThirdTest" />
        </classes>
    </test>
</suite>